<div class="page-header">

<style>
/*body {background-color:lightgrey}*/
h1    {width: 600px;
        }
h3    {color:gold;
        width:600px;}


</style>
  <h1>
   "<%=@quote.lyric %>"


  </h1>

<h3 align ="right"><a href="/artists/<%= @quote.artist.id %>" style="color:gold"> -<%= @quote.artist.artist %></a>


</h3>


  <br>
  <br>

Categories:
<p><% @quote.categories.each do |cat|  %>
<li class="list-group-item"><a href="/categories/<%= cat.id %>"> <%= cat.name %></a></li>



<% end %>

</p>

