<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @artist.artist%></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Artist</dt>
              <dd><%= @artist.artist %></dd>

              <dt>Photo</dt>
              <dd><img src = "<%= @artist.photo %>" height = "500"></dd>

              <dt>Bio</dt>
              <dd><%= @artist.bio %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/artists" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/artists/<%= @artist.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_artist/<%= @artist.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>

           <ul class="list-group">
+           <% @artists.albums.each do |album| %>
+            <li class="list-group-item"><%= album.title %></li>
+           <% end %>
+          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
