<head>
  <meta charset="utf-8">
  <title>HHQOTD - Words inspire life.</title>


<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/slate/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <style>
    /* Only necessary if you are using navbar-fixed-top */
    body {
      padding-top: 60px;
    }
  </style>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">HHQOTD</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->

    </div>
  </nav>

  <div class="container">
    <% if notice.present? %>
      <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= notice %>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="alert alert-dismissable alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
  </div>

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @artist.artist%></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Artist</dt>
              <dd><%= @artist.artist %></dd>

              <dt>Photo</dt>
              <dd><img src = "<%= @artist.photo %>"   width ="500"></dd>

              <dt>Bio</dt>
              <dd><%= @artist.bio %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

            </div>
          </div>


        </div>
      </div>




     </div>

     <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Albums</h3>
        </div>
        <div class="panel-body">

           <% @artist.albums.each do |album| %>
           <li class="list-group-item"><%= album.title %></li>
           <% end %>

         </div>
       </div>

     <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Quotes</h3>
      </div>
      <div class="panel-body">

        <% @artist.quotes.each do |quote|  %>
        <ul>
          <div class="page-header">
            <h1>"<%= quote.lyric %>" <small> -<%= quote.artist.artist %></small>
            </h1>

          </ul>

          <% end %>
        </div>
      </div>

  </div>
</div>

</body>

<!-- End responsive panel example -->
