<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Category Quote #<%= @category_quote.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Quote</dt>
              <dd><%= @category_quote.quote_id %></dd>

              <dt>Category</dt>
              <dd><%= @category_quote.category_id %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/category_quotes" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/category_quotes/<%= @category_quote.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_category_quote/<%= @category_quote.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
